<style>
    .user-profile {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 50%;
    }
</style>
{% extends "base.html" %}
{% block main %}
{% load static %}
<div class="banner">
    <div class="max-width">
    </div>
</div>
<div class="write">
    <div class="max-width">
        <section class="wrap-box">
            <div class="inner">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                {% if request.user.profile_img %}
                                <img src="{{ request.user.profile_img.url }}" class="user-profile">
                                {% else %}
                                <img src="{% static './assets/blank_profile.png' %}" class="user-profile">
                                {% endif %}
                            </div>
                            <div class="col-md-12">
                                아이디: {{ request.user.username }}
                            </div>
                            <div class="col-md-12">
                                닉네임: {{ request.user.nickname }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock main %}