{% extends "base.html" %}
{% block main %}
{% load static %}
<div class="banner">
    <div class="max-width">
    </div>
</div>
<div class="write">
    <div class="max-width">
        <section class="wrap-box">
            <div class="inner">
                <div class="view-contents">
                    <form action="" method="post" id="register_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" id="register" class="button">회원가입</button>
                        <!-- <div class="mb-3 mt-3">
                            <label for="username" class="form-label">*아이디:</label>
                            <input type="text" class="form-control" id="username" placeholder="아이디를 입력하세요"
                                name="username">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="password" class="form-label">*비밀번호:</label>
                            <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요."
                                name="password">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="password_check" class="form-label">*비밀번호 확인:</label>
                            <input type="password" class="form-control" id="password_check" placeholder="비밀번호를 입력하세요."
                                name="password_check">
                            <div id="message"></div>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="nickname" class="form-label">닉네임:</label>
                            <input type="text" class="form-control" id="nickname" placeholder="닉네임을 입력하세요."
                                name="nickname">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="email" class="form-label">이메일:</label>
                            <input type="email" class="form-control" id="email" placeholder="이메일을 입력하세요." name="email">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="profile_img" class="form-label">프로필사진:</label>
                            <input type="file" class="form-control" id="profile_img" placeholder="사진을 입력하세요."
                                name="profile_img">
                        </div>
                        <button type="submit" id="register" class="button">회원가입</button> -->
                    </form>

                </div>
            </div>
        </section>
    </div>
</div>

<script>
    const username = document.getElementById('username')
    const password = document.getElementById('password')
    const password_check = document.getElementById('password_check')
    const message = document.getElementById('message')
    const email = document.getElementById('email')
    const register = document.getElementById('register')
    const register_form = document.getElementById('register_form')
    const reg_email = /^([0-9a-zA-Z]+)@([0-9a-zA-Z]+)(\.[0-9a-zA-Z]+){1,2}$/;

    password.oninput = function () {
        if (password.value != '') {
            if (password.value == password_check.value) {
                message.innerHTML = '비밀번호와 동일합니다.'
                message.style.color = 'green'
            } else {
                message.innerHTML = '비밀번호와 다릅니다.'
                message.style.color = 'red'
            }
        }
    }
    password_check.oninput = function () {
        if (password.value != '') {
            if (password.value == password_check.value) {
                message.innerHTML = '비밀번호와 동일합니다.'
                message.style.color = 'green'
            } else {
                message.innerHTML = '비밀번호와 다릅니다.'
                message.style.color = 'red'
            }
        }
    }

    // register.addEventListener('click', (e) => {
    //     e.preventDefault()
    //     if (username.value == '') {
    //         alert('아이디는 반드시 입력해야합니다!')
    //     } else if (password.value == '') {
    //         alert('비밀번호는 반드시 입력해야합니다!')
    //     } else if (password.value != password_check.value) {
    //         alert('비밀번호 확인을 올바르게 입력해 주십시오.')
    //     } else if (email.value != '' & !reg_email.test(email.value)) {
    //         alert('이메일 형식이 잘못되었습니다.')
    //     } else {
    //         alert('성공적으로 가입되었습니다.')
    //         register_form.submit()
    //     }
    // })
</script>
{% endblock main %}