{% extends "base.html" %}
{% block main %}
{% load static %}
<div class="banner">
    <div class="max-width">
        <div class="banner-contents">
            <p class="sub-text">음식 리뷰 블로그</p>
            <p class="main-text">Food</p>
            <p class="description">
                여러가지 종류의 음식을 요리하거나 사먹고 리뷰하는 블로그입니다.
            </p>
        </div>
    </div>
</div>

<main>
    <div class="max-width">
        <div class="view">
            <section class="wrap-box">
                <div class="inner">
                    <table class="table">
                        <thead style="border-bottom: 2px solid black;">
                            <tr>
                                <th class='col-md-1'>글번호</th>
                                <th class='col-md-6'>제목</th>
                                <th class='col-md-2'>작성자</th>
                                <th class='col-md-2'>작성일자</th>
                                <th class='col-md-1'>조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                            <tr>
                                <td>{{ post.id }}</td>
                                <td><a href="{% url 'post:detail' post.id %}">{{ post.title }}</a></td>
                                <td>{% if post.nickname %}{{ post.nickname }}{% else %}{{ post.author }}{% endif %}</td>
                                <td>{{ post.created_at|date:'Y.m.d' }}</td>
                                <td>{{ post.view_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        {% if page_obj.has_previous %}
                        <form action="" method="get">
                            <input type="hidden" name="page" value="{{ page_obj.previous_page_number }}">
                            <button type="submit" class="button white">이전</button>
                            {% for key, value in request.GET.items %}
                                {% if key == 'search' %}
                                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                                {% endif %}
                            {% endfor %}
                        </form>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <form action="" method="get">
                            <input type="hidden" name="page" value="{{ page_obj.next_page_number }}">
                            <button type="submit" class="button white">다음</button>
                            {% for key, value in request.GET.items %}
                                {% if key == 'search' %}
                                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                                {% endif %}
                            {% endfor %}
                        </form>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
        <aside class="about">
            <h3>카테고리</h3>
            <ul class="categories">
                {% for tag in tags %}
                <li><a href="{% url 'search:tag' tag %}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
            <h3>검색</h3>
            <form class="d-flex" action="{% url 'search:search' %}" method="get">
                <input class="form-control me-2" type="text" placeholder="Search" name="search">
                <button type="submit" class="button white"><img src="{% static './assets/icon-search.svg' %}" alt="My Blog"></button>
                <input type="hidden" name="page" value="1">
            </form>
        </aside>
    </div>
</main>
{% endblock main %}