{% extends "base.html" %}
{% block main %}
{% load static %}
{% if object.head_image %}
<div class="banner" style="background-image: url({{ object.head_image.url }})">
    {% else %}
    <div class="banner">
        {% endif %}
        <div class="max-width">
        </div>
    </div>
    <div class="write">
        <div class="max-width">
            <section class="wrap-box">
                <div class="inner">
                    <div class="view-contents">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 mt-3">
                                <label for="title" class="form-label">제목:</label>
                                <input type="text" class="form-control" id="title" value="{{ object.title }}"
                                    placeholder="제목을 입력하세요" name="title">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="content" class="form-label">내용:</label>
                                <textarea class="form-control" name="content" id="content" cols="30" rows="200"
                                    placeholder="내용을 입력하세요">{{ object.content }}</textarea>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="head_image" class="form-label">썸네일</label>
                                {% if object.head_image %}
                                <input type="file" name="head_image" value="{{ object.head_image }}" accept="image/*"
                                    id="head_image">
                                {% else %}
                                <input type="file" name="head_image" accept="image/*" id="head_image">
                                {% endif %}
                            </div>
                            <div class="form-check mb-3">
                                <p>카테고리</p>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="tag" value="한식"> 한식
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="tag" value="중식"> 중식
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="tag" value="일식"> 일식
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="tag" value="양식"> 양식
                                </label>
                                <label class "form-check-label">
                                    <input class="form-check-input" type="checkbox" name="tag" value="집밥"> 집밥
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="tag" value="외식"> 외식
                                </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="tag" value="간편식"> 간편식
                                </label>
                            </div>
                            <button type="submit" class="button">작성</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% endblock main %}