{% extends "base.html" %} {% block main %} {% load static %}
<div
    class="banner"
    {%
    if
    post.head_image
    %}
    style="background-image: url({{ post.head_image.url }})"
    {%
    endif
    %}
>
    <div class="max-width">
        <div class="banner-contents">
            <p class="today">
                {{ post.created_at|date:'M' }}
                <em>{{ post.created_at|date:'d' }}</em> {{
                post.created_at|date:'D' }}
            </p>
        </div>
    </div>
</div>
<div class="view">
    <div class="max-width">
        <section class="wrap-box">
            <div class="inner">
                <!-- author -->
                <dl class="author-wrap">
                    <dt class="a11y-hidden">작성자</dt>
                    <dd class="author">
                        {% if post.author.profile_img %}
                        <img src="{{ post.author.profile_img.url }}" alt="" />
                        {% else %}
                        <img
                            src="{% static './assets/blank_profile.png' %}"
                            alt=""
                        />
                        {% endif %} {% if post.nickname %} {{ post.nickname }}
                        {% else %} {{ post.author }} {% endif %}
                    </dd>
                    <dt class="a11y-hidden">작성일자</dt>
                    <dd class="created">
                        {{ post.created_at|date:'Y년 m월 d일 D' }}
                    </dd>
                </dl>
                <!-- //author -->

                <!-- category -->
                <dl class="category">
                    <dt class="a11y-hidden">Category</dt>
                    {% for tag in post.tags.iterator %}
                    <dd><a href="{% url 'search:tag' tag %}">{{ tag }}</a></dd>
                    {% endfor %}
                </dl>
                <!-- //category -->
                <div class="title-wrap">
                    <h2>{{ post.title }}</h2>
                    <button class="btn-like">Like</button>
                </div>
                <hr />
                <div class="view-contents">
                    <p>{{ post.content }}</p>
                </div>
                <div class="d-flex justify-content-center">
                    {% if previous_post %}
                    <a
                        href="{% url 'post:detail' previous_post.id %}"
                        class="button white"
                        >이전글</a
                    >
                    {% endif %} &nbsp;&nbsp; {% if next_post %}
                    <a
                        href="{% url 'post:detail' next_post.id %}"
                        class="button white"
                        >이후글</a
                    >
                    {% endif %}
                </div>
                <hr style="border: solid 2px black" />
                <div class="title-wrap">
                    <h2>댓글</h2>
                </div>
                <div class="view-comment">
                    <div class="row">
                        <hr />
                        {% for comment in comments %}
                        <div class="col-md-1 profile-img">
                            <a href="#">
                                {% if comment.author.profile_img %}
                                <img
                                    src="{{ comment.author.profile_img.url }}"
                                />
                                {% else %}
                                <img
                                    src="{% static './assets/blank_profile.png' %}"
                                />
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-2" style="display: block">
                            {% if comment.author.nickname %}{{
                            comment.author.nickname }}{% else %}{{
                            comment.author }}{% endif %}
                        </div>
                        <div class="col-md-6">{{ comment.message }}</div>
                        <div class="col-md-2">
                            {{ comment.created_at|date:'Y.m.d H:i' }}
                        </div>
                        <div class="col-md-1">
                            {% if request.user.is_staff or request.user ==
                            comment.author %}
                            <div class="row">
                                <div id="comment_modify{{comment.id}}">
                                    <button
                                        href="{% url 'comment:update' comment.id %}"
                                        class="btn-modify"
                                        style="margin-bottom: 5px"
                                    >
                                        <span class="a11y-hidden">수정</span>
                                    </button>
                                </div>
                                <div id="comment_delete{{comment.id}}">
                                    <button
                                        id="delete_bt"
                                        type="button"
                                        class="btn-delete"
                                    >
                                        <span id="delete_sp" class="a11y-hidden"
                                            >삭제</span
                                        >
                                    </button>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <hr />
                        {% endfor %} {% if request.user.is_authenticated %}
                        <form action="" method="post" class="row">
                            {% csrf_token %}
                            <div class="col-md-1 profile-img">
                                <a href="#">
                                    {% if request.user.profile_img %}
                                    <img
                                        src="{{ request.user.profile_img.url }}"
                                        alt="My Page"
                                    />
                                    {% else %}
                                    <img
                                        src="{% static './assets/blank_profile.png' %}"
                                        alt="My Page"
                                    />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-2">
                                {% if request.user.nickname %}{{
                                request.user.nickname }}{% else %}{{
                                request.user }}{% endif %}
                            </div>
                            <div class="col-md-7">
                                <textarea
                                    class="form-control comment"
                                    name="message"
                                ></textarea>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="button">
                                    작성
                                </button>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% if request.user.is_staff or request.user == post.author %}
                <div class="btn-group">
                    ...
                    <a
                        href="{% url 'post:update' post.id %}"
                        class="btn-modify"
                    >
                        <span class="a11y-hidden">수정</span>
                    </a>
                    <button id="delete_bt" type="button" class="btn-delete">
                        <span id="delete_sp" class="a11y-hidden">삭제</span>
                    </button>
                </div>
                {% endif %}
                <a href="{% url 'post:list' %}" class="btn-back">
                    <span class="a11y-hidden">뒤로가기</span>
                </a>
            </div>
        </section>
    </div>
</div>
<script>
    const delete_bt = document.getElementById("delete_bt");
    const btn_like = document.querySelector(".btn-like");

    delete_bt.addEventListener("click", () => {
        delete_confirm = confirm("정말로 삭제하시겠습니까?");
        if (delete_confirm) {
            window.location.href = "{% url 'post:delete' post.id %}";
        }
    });
</script>
{% endblock main %}
