{% extends "base.html" %}
{% block main %}
{% load static %}
<div class="banner">
    <div class="max-width">
    </div>
</div>
<div class="write">
    <div class="max-width">
        <section class="wrap-box">
            <div class="inner">
                <div class="view-contents">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3 mt-3">
                            <label for="title" class="form-label">제목:</label>
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요" name="title">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="content" class="form-label">내용:</label>
                            <textarea class="form-control" name="content" id="content" cols="30" rows="200"
                                placeholder="내용을 입력하세요"></textarea>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="head_image" class="form-label">썸네일</label>
                            <input type="file" name="head_image" accept="image/*" id="head_image">
                        </div>
                        <button type="submit" class="button">작성</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock main %}