{% extends "base.html" %}
{% block main %}
{% load static %}
<div class="banner">
    <div class="max-width">
        <div class="banner-contents">
            <p class="sub-text">음식 리뷰 블로그</p>
            <p class="main-text">Food</p>
            <p class="description">
                여러가지 종류의 음식을 요리하거나 사먹고 리뷰하는 블로그입니다.
            </p>
        </div>
    </div>
</div>

<main>
    <div class="max-width">
        <div class="view">
            <section class="wrap-box">
                <div class="inner">
                    <table class="table">
                        <thead style="border-bottom: 2px solid black;">
                            <tr>
                                <th class='col-md-1'>글번호</th>
                                <th class='col-md-6'>제목</th>
                                <th class='col-md-2'>작성자</th>
                                <th class='col-md-2'>작성일자</th>
                                <th class='col-md-1'>조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                            <tr>
                                <td>{{ post.id }}</td>
                                <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
                                <td>{{ post.author }}</td>
                                <td>{{ post.created_at|date:'Y.m.d' }}</td>
                                <td>{{ post.view_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        {% if page_obj.has_previous %}
                        <a href="{% url "post_list" %}?page={{ page_obj.previous_page_number }}">이전</a>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <a href="{% url "post_list" %}?page={{ page_obj.next_page_number }}">다음</a>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
        <aside class="about">
            <h3>카테고리</h3>
            <ul class="categories">
                <li><a href="{% url 'post_search_tag' '한식' %}">한식</a></li>
                <li><a href="{% url 'post_search_tag' '중식' %}">중식</a></li>
                <li><a href="{% url 'post_search_tag' '일식' %}">일식</a></li>
                <li><a href="{% url 'post_search_tag' '양식' %}">양식</a></li>
                <li><a href="{% url 'post_search_tag' '집밥' %}">집밥</a></li>
                <li><a href="{% url 'post_search_tag' '외식' %}">외식</a></li>
                <li><a href="{% url 'post_search_tag' '간편식' %}">간편식</a></li>
            </ul>
            <h3>검색</h3>
            <form class="d-flex" action="" method="get">
                <input class="form-control me-2" type="text" placeholder="Search">
                <img src="{% static './assets/icon-search.svg' %}" alt="My Blog" class="btn"
                    style="width: 40px;height: 40px;">
            </form>
        </aside>
    </div>
</main>
{% endblock main %}