{% extends "base.html" %}
{% block main %}
{% load static %}
<div class="banner">
    <div class="max-width">
        <div class="banner-contents">
            <p class="sub-text">음식 리뷰 블로그</p>
            <p class="main-text">Food</p>
            <p class="description">
                여러가지 종류의 음식을 요리하거나 사먹고 리뷰하는 블로그입니다.
            </p>
        </div>
    </div>
</div>
<div class="view">
    <div class="max-width">
        <section class="wrap-box">
            <div class="inner">
                <table class="table">
                    <thead style="border-bottom: 2px solid black;">
                        <tr>
                            <th class='col-md-1'>글번호</th>
                            <th class='col-md-6'>제목</th>
                            <th class='col-md-2'>작성자</th>
                            <th class='col-md-2'>작성일자</th>
                            <th class='col-md-1'>조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in object_list %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
                            <td>{{ post.author }}</td>
                            <td>{{ post.created_at|date:'Y.m.d' }}</td>
                            <td>{{ post.view_count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
{% endblock main %}